.colorStyle {
  border: solid 1px white;
  width: 35px;
  height: 35px;
  border-radius: 50px;
}
.colorStyle1 {
  border: solid 1px white;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: #fa8072;
}
.colorStyle2 {
  border: solid 1px white;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: #ffd700;
}
.colorStyle3 {
  border: solid 1px white;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: #ffff66;
}
.colorStyle4 {
  border: solid 1px white;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: #adff2f;
}
.colorStyle5 {
  border: solid 1px white;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: #5bb4b4;
}
.colorStyle6 {
  border: solid 1px white;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: #0606f8;
}
.colorStyle7 {
  border: solid 1px white;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: #00ffff;
}
.colorStyle8 {
  border: solid 1px white;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: #9b2c9b;
}
.colorStyle9 {
  border: solid 1px white;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: #ffc0cb;
}
.colorStyle10 {
  border: solid 1px white;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: #d10303;
}
.colorStyle11 {
  border: solid 1px white;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: #808080;
}

.colorDiv {
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}

.colorStyleWhite {
  border: solid 0.5px;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: white;
}
