.dashContainer{
    width:100%;
    height: 100%;
}
.dashsearch{
    width:100%;
    height: 70px;
    border: 3px;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: row;
    align-items: center
    /* justify-content: center */
}
#imgdash{
    width: 35px;
    height: 35px;
    color:white;
    /* align-items: center; */
    justify-content: space-around;
    padding:3px;
}
#imgdashnotes{
    width: 25px;
    height: 25px;
    color:white;
    /* align-items: center; */
    justify-content: space-around;
    padding:3px;
}
.textremainderDash{
    font-size: 20px;
    color: black;
}
.searcheledash{
    height: 30px;
    width: 500px;
    margin-left: 100px;
    background-color:#ffffff;
    flex-direction: row;
    display: flex;
    align-items: center;
    border-radius: 3px;
    /* justify-content: center; */
 
}
#inputFielddash{
    flex-direction: row;
    height: 20px;
    /* width: 350px; */
    min-width: 270px;
    cursor: pointer;
    border: none;
    /* disableUnderline: true */

}
.icondash{
    height: 30px;
    width: 150px;
    margin-left: 100px;
    /* background-color:#ffffff; */
    flex-direction: row;
    display: flex;
    align-items: center;
    border-radius: 3px;
    justify-content: space-around;

}
.columimg{

    flex-direction: column;
    /* background-color:tomato; */

}
.icondashlast{
    margin-left: 150px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;

}
.dash2cont{
    width : 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.papar2dash{
    width: 550px;
    display: flex;
    flex-direction: row;
    padding: 2px;
    justify-content: center;
    align-items: center;

}
.icondash2{
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#NoteExpand{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding : 8px;
    background-color: white;

}
#btndash{
    /* min-width: 270px; */
    /* color: #565656; */
    /* font-size: 14px; */
    /* font-weight: bold; */
    /* border-radius: 4px; */
    background-color: #fff;
    cursor: pointer;
    width: 100%;
    /* padding:5px; */
}
.panel{
    height: 150px;
}
.paper{
    width : 700px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background-color: hotpink;
    
    
}
.paper2{
    width : 700px;
    /* height: 140px; */
    border-radius: 8px;
    background-color: greenyellow;
}
.Typo{
    padding : 15px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width : 500px;
    color : grey;
    font-weight: bold;

}
.button{
    display: flex;
    justify-content: flex-end;
}
.containerdash{
    width : 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.classespaper{
    position: 'absolute';
    width: 400px;
    background-color: white;
    border: '2px solid #000';
    /* boxShadow: theme.shadows[5], */
    /* padding: theme.spacing(2, 4, 3), */
    padding : 5px;
   
}
.modelcenter{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.modelmiddel{
    display: flex;
    justify-content: center;
    align-items: center
}
.textdash{
    display: flex;
    flex-direction: row;
    /* align-items: center */
}
.buttondone{
    display: flex;
    justify-content: flex-end;
}