.dashContainer{
    width:100%;
    height: 100%;
}
.dashsearch{
    width:100%;
    height: 70px;
    border: 3px;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: row;
    align-items: center
    /* justify-content: center */
}
#imgdash{
    width: 35px;
    height: 35px;
    color:white;
    /* align-items: center; */
    justify-content: space-around;
    padding:3px;
}
#imgdash1{
    width: 25px;
    height: 25px;
    color:white;
    /* align-items: center; */
    justify-content: space-around;
    padding:3px;
    opacity: .9;
    /* filter: brightness(50%); */
}
#imgdashnotes{
    width: 25px;
    height: 25px;
    color:white;
    /* align-items: center; */
    justify-content: space-around;
    padding:3px;
}
#imgdashdelete{
    width: 20px;
    height: 20px;
    color:white;
    /* align-items: center; */
    justify-content: space-around;
    padding:3px;
}
.textremainderDash{
    font-size: 20px;
    color: black;
}
.searcheledash{
    height: 30px;
    width: 500px;
    margin-left: 100px;
    background-color:#ffffff;
    flex-direction: row;
    display: flex;
    align-items: center;
    border-radius: 3px;
    /* justify-content: center; */
 
}
#inputFielddash{
    flex-direction: row;
    height: 20px;
    /* width: 350px; */
    min-width: 270px;
    cursor: pointer;
    border: none;
    /* disableUnderline: true */

}

.columimg{

    flex-direction: column;
    /* background-color:tomato; */

}
.icondashlast{
    margin-left: 150px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;

}
.dash2cont{
    width : 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.papar2dash{
    width: 550px;
    display: flex;
    flex-direction: row;
    padding: 2px;
    justify-content: center;
    align-items: center;

}
.icondash2{
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#NoteExpand{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding : 8px;
    background-color: white;
    border-radius: 8px;
    border : 0.1px solid grey;
}
#btndash{
    /* min-width: 270px; */
    /* color: #565656; */
    /* font-size: 14px; */
    /* font-weight: bold; */
    /* border-radius: 4px; */
    background-color: #fff;
    cursor: pointer;
    width: 100%;
    /* padding:5px; */
}
.panel{
    height: 150px;
}
.paper{
    width : 700px;
    height: 50px;
    display: flex;
    align-items: center;
    /* border-radius: 15px; */
    background-color: white;
    /* border: solid; */
    border-radius: 8px;
    border : 0.1px solid grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    
}
.paper2{
    width : 700px;
    /* height: 140px; */
    /* border-radius: 15px; */
    /* background-color: greenyellow; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    border : 0.1px solid grey;

}
.paper4{
    width : 500px;
    /* height: 140px; */
    /* border-radius: 15px; */
    /* background-color: greenyellow; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    border : 0.1px solid grey;

}
.paper3{
    width : 600px;
    /* height: 140px; */
    border-radius: 8px;
    border: 0.1px solid grey;
    /* background-color: greenyellow; */
}
.Typo{
    padding : 15px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width : 600px;
    color : grey;
    font-weight: bold;

}
.button{
    display: flex;
    justify-content: flex-end;
}
.containerdash{
    width : 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.classespaper{
    /* position: 'absolute'; */
    width: 400px;
    background-color: white;
    border: '2px solid #000';
    /* boxShadow: theme.shadows[5], */
    /* padding: theme.spacing(2, 4, 3), */
    padding : 5px;
   
   
}
.modelcenter{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.modelmiddel{
    display: flex;
    justify-content: center;
    align-items: center
}
.textdash{
    display: flex;
    flex-direction: row;
    /* align-items: center */
}
.buttondone{
    display: flex;
    justify-content: flex-end;
}

.ToolbarContainer1{
 display:flex;
 flex-direction:row;
 justify-content:'center';
 align-items:center;
 justify-content:space-around;
 width :100%
}
.ToolbarContainer2{
    display:flex;
    flex-direction:row;
    justify-content:'center';
    align-items:center;
}
.searchDiv{
    height: '50px';
   width: 800px;
   max-width :720px;
   margin-left: 130px;
   background-color: #ffffff;
   flex-direction : row;
   display: flex;
   align-items: center;
   /* border-radius: 3px; */
   justify-content: center;
   background-color :#f1f3f4;
   border-radius : 8px;
   position : relative;
   /* border: 0.1px solid grey; */
}
.funnDooName{
    color : black;
    margin-right : 9px
  }
  .icondash{
    height: 30px;
    width: 150px;
    margin-left: 100px;
    /* background-color:#ffffff; */
    flex-direction: row;
    display: flex;
    align-items: center;
    border-radius: 3px;
    justify-content: space-around;

}
.searchdiv1{
         padding : 5px;
         display : flex;
        justify-content : center;
        height : 46px;
        max-width : 720px;
        align-items:center
}
.inputsearch{
    background-color: #ff00;
    height : 46px;
    outline:none;
    font-size:18px;
    border: none;
    width:600px
}
.bulbicon{
    margin-right: 10px;
}
#imgdash{
    width: 35px;
    height: 35px;
    color:white;
    /* align-items: center; */
    justify-content: space-around;
    padding:1px;
}







@media only screen and (max-width : 375px){
    .ToolbarContainer1{
        display:flex;
        flex-direction:row;
        justify-content:'center';
        align-items:center;
        justify-content:space-around;
        /* width :100% */
        /* padding-left: 30px; */
        
       }
       .ToolbarContainer2{
        display:flex;
        flex-direction:row;
        /* justify-content:'center';
        align-items:center; */
    }
    .searchDiv{
        height: '50px';
       width: 600px;
       max-width :500px;
       margin-left: 1px;
       background-color: #ffffff;
       flex-direction : row;
       display: flex;
       align-items: center;
       /* border-radius: 3px; */
       justify-content: center;
       background-color :#f1f3f4;
       border-radius : 8px;
       position : relative;
       /* border: 0.1px solid grey; */
    }
    .searchdiv1{
        padding : 5px;
        display : flex;
       /* justify-content : center; */
       height : 46px;
       max-width : 380px;
       align-items:center
}
.inputsearch{
    background-color: #ff00;
    height : 46px;
    outline:none;
    font-size:18px;
    border: none;
    width:300px 
}
    .icondash{
        height: 30px;
        width: 150px;
        margin-left: 1px;
        /* background-color:#ffffff; */
        flex-direction: row;
        display: flex;
        align-items: center;
        border-radius: 3px;
        justify-content: space-around;
    
    }
    .bulbicon{
        margin-right: 1px;
    }

}

@media only screen and (max-width : 414px){
    .ToolbarContainer1{
        display:flex;
        flex-direction:row;
        justify-content:'center';
        align-items:center;
        justify-content:space-around;
        /* width :100% */
        /* padding-left: 30px; */
       }
       .ToolbarContainer2{
        display:flex;
        flex-direction:row;
        /* justify-content:'center';
        align-items:center; */
    }
    .searchDiv{
        height: '50px';
       width: 600px;
       max-width :500px;
       margin-left: 1px;
       background-color: #ffffff;
       flex-direction : row;
       display: flex;
       align-items: center;
       /* border-radius: 3px; */
       justify-content: center;
       background-color :#f1f3f4;
       border-radius : 8px;
       position : relative;
       /* border: 0.1px solid grey; */
    }
    .searchdiv1{
        padding : 5px;
        display : flex;
       /* justify-content : center; */
       height : 46px;
       max-width : 380px;
       align-items:center
}
.inputsearch{
    background-color: #ff00;
    height : 46px;
    outline:none;
    font-size:18px;
    border: none;
    width:300px 
}
    .icondash{
        height: 30px;
        width: 150px;
        margin-left: 1px;
        /* background-color:#ffffff; */
        flex-direction: row;
        display: flex;
        align-items: center;
        border-radius: 3px;
        justify-content: space-around;
    
    }
    .bulbicon{
        margin-right: 1px;
    }

}

@media only screen and (max-width : 768px){
    .ToolbarContainer1{
        display:flex;
        flex-direction:row;
        justify-content:'center';
        align-items:center;
        justify-content:space-around;
        /* width :100% */
        /* padding-left: 30px; */
       }
       .ToolbarContainer2{
        display:flex;
        flex-direction:row;
        /* justify-content:'center';
        align-items:center; */
    }
    .searchDiv{
        height: '50px';
       width: 600px;
       max-width :500px;
       margin-left: 1px;
       background-color: #ffffff;
       flex-direction : row;
       display: flex;
       align-items: center;
       /* border-radius: 3px; */
       justify-content: center;
       background-color :#f1f3f4;
       border-radius : 8px;
       position : relative;
       /* border: 0.1px solid grey; */
    }
    .searchdiv1{
        padding : 5px;
        display : flex;
       /* justify-content : center; */
       height : 46px;
       max-width : 380px;
       align-items:center
}
.inputsearch{
    background-color: #ff00;
    height : 46px;
    outline:none;
    font-size:18px;
    border: none;
    width:300px 
}
    .icondash{
        height: 30px;
        width: 150px;
        margin-left: 1px;
        /* background-color:#ffffff; */
        flex-direction: row;
        display: flex;
        align-items: center;
        border-radius: 3px;
        justify-content: space-around;
    
    }
    .bulbicon{
        margin-right: 1px;
    }

 }
@media  (width : 1024px){
    .ToolbarContainer1{
        display:flex;
        flex-direction:row;
        justify-content:'center';
        align-items:center;
        justify-content:space-around;
        flex-wrap: wrap;

        /* width :100% */
        /* padding-left: 30px; */
       }
       .ToolbarContainer2{
        display:flex;
        flex-direction:row;
        /* justify-content:'center';
        align-items:center; */
    }
    .searchDiv{
        height: '50px';
       width: 700px;
       max-width :500px;
       margin-left: 1px;
       background-color: #ffffff;
       flex-direction : row;
       display: flex;
       align-items: center;
       /* border-radius: 3px; */
       justify-content: center;
       background-color :#f1f3f4;
       border-radius : 8px;
       position : relative;
       /* border: 0.1px solid grey; */
    }
    .searchdiv1{
        padding : 5px;
        display : flex;
       /* justify-content : center; */
       height : 46px;
       max-width : 480px;
       align-items:center
}
.inputsearch{
    background-color: #ff00;
    height : 46px;
    outline:none;
    font-size:18px;
    border: none;
    width:400px 
}
    .icondash{
        height: 30px;
        width: 150px;
        margin-left: 1px;
        /* background-color:#ffffff; */
        flex-direction: row;
        display: flex;
        align-items: center;
        border-radius: 3px;
        justify-content: space-around;
    
    }
    .bulbicon{
        margin-right: 1px;
    }

} 
