.servicecontainer{
    /* width:100%; */
    height:100%;
    font-size: 28px;
    color: rgb(228, 86, 86);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: #F8F8F8; */
    padding : 40px;

}
.serviceroot{
    /* min-width: 275; */
    height : 250px;
    width : 250px;
    position: relative;
    z-index: 9;
    background-color: blue;
    margin-bottom: 15px;
    /* padding : 40px; */
}
.serviceroot1{
    /* min-width: 275; */
    height: 250px;
    width : 250px;
    position: relative;
    z-index: 8;
    margin-top: -190px;
    margin-left: 40px;
    /* padding : 40px; */
}
.cardcontent{
    height: 200px;
    width : 250px;
}
.cardcontent1{
    height: 200px;
    width : 250px;
    display : flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 20px;
}
.title1{
      font-size: 14;
      width : 250px;
      height : 250px;
      display : flex;
      flex-direction: column;
      justify-content: flex-end;
      background-color: grey;
    margin-right: 2px;

}
.title2{
    font-size: 14;
    width : 250px;
    height : 250px;
    display : flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: yellow;
    margin-right: 2px;

}
.twocard{
    padding : 70px;
}
.centercard{
    display : flex;
}
.boldpoint{
    height : 10px;
    list-style-type : circle
}