.maincontainer{
    width : 100%;
    display:flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
}
.notescontainer{
    width : 80%;
    display: flex;
    align-items: center;
    padding: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.showicon{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}

  .mydivouter{
      width: 260px;
    position:relative;
    margin: 0 auto;
    }
  
    .mybuttonoverlap{
    /* position: absolute; */
    /* display: none; */
    height:80px;
    margin: 0 auto; 
    visibility: hidden;
    
    }
    .mydivouter:hover .mybuttonoverlap{ 
    display:block;
    visibility: visible;
    
    }
.iconbtn{
    border: none;
    background-color: white;
}
