.maincontainer{
    width : 100%;
    display:flex;
    align-items: center;
    flex-direction: column;
}
.notescontainer{
    width : 80%;
    display: flex;
    align-items: center;
    padding: 30px;
    flex-direction: row;
    flex-wrap: wrap;
}
.showicon{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}
/* .Card:hover {
        background-color: #fff000;
 } */
 .butt {
    display: none;
  }
  Card:hover + .butt {
    display: inline-block;
  }
  .mydivouter{
    position:relative;
    margin: 0 auto;
    }
  
    .mybuttonoverlap{
    /* position: absolute; */
    display: none;
    height:60px
    }
    .mydivouter:hover .mybuttonoverlap{ 
    display:block;
    }